/* **************************** */
/* HEADER */
/* **************************** */

.logo {
  width: 38rem;
  margin: 2rem 0rem 2rem 16rem;
}

/* **************************** */
/* Navigation */
/* **************************** */

.main-nav {
  background-color: rgb(67, 192, 255);
  padding: 2rem 0rem 2rem 16rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  transition: all 0.4s;
  text-decoration: underline;
}

/* **************************** */
/* Main */
/* **************************** */

.subheading {
  font-size: 1.7rem;
  margin: 2rem auto 4rem 0rem;
}

.home:link,
.home:visited {
  text-decoration: none;
  color: #be1e2d;
}

.home:hover,
.home:active {
  transition: all 0.5s;
  color: #222;
}

.orchirds-imgs {
  width: 80%;
  height: 40%;
}

.orchird-caption {
  font-size: 1.1rem;
  margin: 0.5rem auto 7rem 36rem;
  color: #555;
}

.heading-primary {
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

/* **************************** */
/* Author and Date Section */
/* **************************** */

.author-and-date {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.author-img {
  width: 3rem;
  border-radius: 50%;
}

.author-name,
.publish-date {
  font-size: 1.2rem;
  color: #555;
}

/* **************************** */
/* Article Paragraphs Section */
/* **************************** */

.intro-par {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.contents-table {
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  padding: 1rem 0rem 0rem 1rem;
}

.contents-heading {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.55px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.contents:link,
.contents:visited {
  text-decoration: none;
  color: #be1e2d;
}

.contents:hover,
.contents:active {
  transition: all 0.4s;
  text-decoration: underline;
  color: #333;
}

.social-media-icons {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 1rem;
}

.facebook-icon,
.twitter-icon,
.whatsapp-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 3px;
  font-size: 1.6rem;
}

.facebook-icon {
  background-color: #3a579a;
  width: 10.5rem;
}

.twitter-icon {
  background-color: #00abf0;
  width: 8.5rem;
}

.whatsapp-icon {
  background-color: #1d9e11;
  width: 10.7rem;
}

.logo-link:link,
.logo-link:visited {
  text-decoration: none;
}

.whatsapp-icon:hover,
.twitter-icon:hover,
.facebook-icon:hover {
  transition: all 0.4s;
  background-color: #891521;
  transform: translateY(-0.5rem);
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.2);
}

.second-intro-par,
.second-caption {
  font-size: 1.7rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.second-caption {
  margin-bottom: 3rem;
}

.external-link:link,
.external-link:visited {
  text-decoration: none;
  color: #be1e2d;
}

.external-link:hover,
.external-link:active {
  transition: all 0.4s;
  color: #222;
}

/* **************************** */
/* Orchids Description Section */
/* **************************** */

.heading-quad {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.orchird-par {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.orchid-last-par {
  margin-bottom: 7rem;
}

/* **************************** */
/* Conclusion Section */
/* **************************** */

.conclusion-par {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* **************************** */
/* Related Posts Section */
/* **************************** */

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 400;
  padding: 4rem 0rem 2rem 0rem;
  border-bottom: 3px solid #222;
  width: 50rem;
}

.posts {
  list-style: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.posts-link:link,
.posts-link:visited {
  font-size: 1.6rem;
  color: #be1e2d;
  text-decoration: none;
}

.posts-link:hover,
.posts-link:active {
  transition: all 0.4s;
  color: #222;
}

/* **************************** */
/* Recent Publications Section / Article Tag */
/* **************************** */

.recent-pubs-tags-section {
  max-width: 128rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 2rem auto;
}

.recent-pubs-heading {
  font-size: 2.5rem;
  border-left: 4px solid #00aeef;
  padding-left: 1rem;
}

.tag:link,
.tag:visited {
  text-decoration: none;
  border-radius: 1.4rem;
  color: #313131;
  background-color: #dee2e6;
  font-size: 1.2rem;
  padding: 5px 9px;
  border: 1px solid #dee2e6;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.tag:hover,
.tag:active {
  background-color: #fff;
  border-color: #222;
}

.article-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.person-tag {
  font-size: 1.7rem;
  color: #be1e2d;
  cursor: pointer;
}

ion-icon {
  font-size: 16px;
}

/* **************************** */
/* Info About Author Section */
/* **************************** */

.author-info-section {
  border-top: 4px solid #dee2e6;
  padding: 2rem 2rem 3rem 2rem;
  position: relative;
}

.author-pic {
  border-radius: 50%;
  position: absolute;
  top: 6rem;
  left: 2rem;
}

.author-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  margin-left: 16rem;
}

.author-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: -25.5rem;
}

.author-red-text {
  color: #be1e2d;
}

.author-par {
  font-size: 1.7rem;
  line-height: 1.5;
}

/* **************************** */
/* Footer Section */
/* **************************** */

.footer {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  padding: 2rem 6rem 2rem 6rem;
  background-color: rgb(67, 192, 255);
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 10rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
}

.footer-link:hover,
.footer-link:active {
  transition: all 0.5s;
  text-decoration: underline;
}
